# -----------------------------------------------------
# ARQUIVO DE EXEMPLO PARA VARIÁVEIS DE AMBIENTE (.env)
# -----------------------------------------------------
# Renomeie ou copie este arquivo para ".env" e 
# preencha com as credenciais reais do seu ambiente.

# Configurações do Banco de Dados Oracle (Winthor ERP)
ORACLE_USER=SEU_USUARIO
ORACLE_PASS=SUA_SENHA
ORACLE_CONN_STR=192.168.0.X:1521/NOME_SERVICO

# Configurações do Servidor Node.js
PORT=3000

# Chaves de APIs Externas
# API Key do Groq (Necessária para transcrição automática de áudios via Whisper IA)
GROQ_API_KEY=sua_chave_groq_aqui

# Configurações de Diretórios (Catálogo de Produtos)
# HOST_IMAGES_DIR: Caminho absoluto na sua máquina (host) onde estão as imagens (usado pelo docker-compose)
# IMAGES_DIR: Caminho de leitura dentro do contêiner ou do ambiente Node.js
HOST_IMAGES_DIR=/mnt/fotos_prod
IMAGES_DIR=/app/imagens_produtos

# Chaves de APIs de Geolocalização (Opcional - Usado como Fallback se Nominatim falhar)
LOCATIONIQ_API_KEY= pk.cb02b6cf28052e688a9c3b3ac58d149f
GEOAPIFY_API_KEY=c64eea48c2f24d62a2859b7810c43e72

# Chave API de Busca de CNPJ (Módulo de Prospecção)
CNPJA_API_KEY=

# Chave de Autenticação do Tailscale (Opcional)
TAILSCALE_AUTH_KEY=
